{% extends 'events/layout.html' %} 

{% block title %}
 Create New Event
{% endblock %}

{% comment %} # TODO: fix horizontal scrolling {% endcomment %}

{% block content %}
  <div class="max-w-lg mx-auto bg-white shadow-md rounded-lg p-4 mt-8">
    <h1 class="text-2xl font-bold mb-4 text-gray-800">Create New Event</h1>
    
    <form 
      action="{% url 'events:create_event' %}" 
      enctype="multipart/form-data"
      method="post"
      class="space-y-4 text-sm"
    >
      {% csrf_token %}
      
      <div class="space-y-2">
        {{ form.as_p }}
      </div>
      
      <button 
        type="submit" 
        class="w-full bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-200"
      >
        Create Event
      </button>
    </form>
  </div>
{% endblock %}
