{% extends 'events/layout.html' %} 

{% block title %}
  {{ event.name }} Event
{% endblock %}

{% block content %}
  <div class="max-w-3xl mx-auto bg-white shadow-md rounded-lg p-6 mt-8">
    <!-- Event Title -->
    <h1 class="text-3xl font-bold text-gray-800 mb-4">{{ event.name }}</h1>

    <!-- Event Image -->
    {% if event.photo %}
      <div class="imageWrapper mb-4">
        <img src="{{ event.photo.url }}" alt="Event Cover Image" class="w-full h-64 object-cover rounded-lg shadow-sm">
      </div>
    {% endif %}

    <!-- Event Description -->
    <p class="text-gray-600 leading-relaxed mb-4">{{ event.description }}</p>

    <!-- Organizer and Participant Limit -->
    <p class="text-sm text-gray-700 mb-4">
      Organized by: 
      <a href="{% url 'profiles:profile_detail' event.author.id %}" class="text-blue-500 hover:underline">{{ event.author.username }}</a>
    </p>
    {% if event.participant_limit > 0 %}
      <p class="text-sm text-gray-700 mb-4">
        Participants: {{ event.registrations.count }} / {{ event.participant_limit }}
      </p>
    {% endif %}

    <!-- Join or Leave Button -->
    <div class="mt-6 flex justify-between text-sm">
      {% if user.is_authenticated %}
        {% if is_registered %}
          <form action="{% url 'events:leave_event' event.id %}" method="post" class="inline-block">
            {% csrf_token %}
            <input 
              type="submit" 
              value="Leave Event" 
              class="leave-button px-4 py-2 bg-red-500 text-white rounded-md shadow hover:bg-red-600 transition duration-200 cursor-pointer"
            />
          </form>
        {% else %}
          <form action="{% url 'events:join_event' event.id %}" method="post" class="inline-block">
            {% csrf_token %}
            <input 
              type="submit" 
              value="Join Event" 
              class="join-button px-4 py-2 bg-blue-500 text-white rounded-md shadow hover:bg-blue-600 transition duration-200 cursor-pointer"
            />
          </form>
        {% endif %}
      {% else %}
        <p class="text-sm text-gray-500">
          <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Log in</a> to join this event.
        </p>
      {% endif %}
      <p 
        class="px-4 py-2 bg-green-500 text-white rounded-md shadow hover:bg-red-600 transition duration-200 cursor-pointer"
      >
        <a href="{% url 'events:event_participants' event.id %}" >
          Participants
        </a>
      </p>
    </div>
  </div>
{% endblock %}