{% extends 'events/layout.html' %}

{% block title %}
  Events Created by {{ user.username }}
{% endblock title %}

{% block content %}
  <div class="max-w-lg mx-auto">
    {% include "profiles/partials/userListItem.html" with user=user %}
    <h2 class="text-xl font-bold mt-6 mb-4">Events Created</h2>

    <div class="bg-white shadow-lg rounded-lg mt-4">
      {% if events %}
        <ul class="space-y-4">
          {% for event in events %}
            <li class="">
              {% include "events/partials/eventListItem.html" with event=event %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="text-gray-700">
          {{ user.username }} hasn't created any events yet. 
          <a href="{% url 'profiles:profile_detail' user.id %}" class="text-blue-500 hover:underline">Visit their profile</a> to see more.
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}