{% extends 'events/layout.html' %}

{% comment %} TODO: add filters that allow for searching of events {% endcomment %}
{% comment %} TODO: add limits of people to events {% endcomment %}

{% block title %}
Event List
{%endblock%}

{% block content %}
  <a href="{% url 'events:create_event' %}">Create</a>

  {% if events_list %}
    <ul>
      {% for event in events_list %}
      <li>
        <a href="{% url 'events:detailed_event' event.id %}">{{ event.name }}</a>

        <a href="{% url 'events:edit_event' event.id %}">Edit</a>
        <a href="{% url 'events:remove_event' event.id %}">Delete</a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <h1>No events are available</h1>
  {% endif %}
{% endblock %}