{% extends 'events/layout.html' %}

{% block title %}
  Event List
{% endblock %}

{% block content %}
  <div class="mb-8 p-4 bg-gray-100 rounded-md shadow">
    {% include "events/partials/filterEventsForm.html" with form=form  %}
  </div>

  <div class="mb-4 flex justify-center">
    <a href="{% url 'events:create_event' %}" 
       class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-lg shadow hover:bg-blue-600 transition-colors"
    >
      Create Event
    </a>
  </div>

  {% include "events/partials/eventsList.html" with events_list=events_list %}

  {% include "events/partials/pagination.html" with page_obj=page_obj %}
 
{% endblock %}