<div class="eventListItem">
  <div>
    <a class="eventLink" href="{% url 'events:detailed_event' event.id %}">
      <div>
        {% if event.photo %}
        <div class="imageWrapper">
          <img src="{{ event.photo.url }}" />
        </div>
        {% else %}
        <div>Image</div>
        {% endif %}
      </div>

      <h2>{{ event.name }}</h2>
    </a>

    <a href="{% url 'profiles:profile_detail' event.author.id %}">
      {{event.author.username}}
    </a>
  </div>

  <div class="eventItemActions">
    <a href="{% url 'events:edit_event' event.id %}">Edit</a>
    <a href="{% url 'events:remove_event' event.id %}">Delete</a>
  </div>
</div>
